/* ====== Estilo Geral ====== */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9F8C76;
    color:black;
    

}

/* ====== Cabeçalho ====== */
header {
    background-color: #00695c;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
}

header h1 {
    margin: 10px;
    font-size: 2.8em;
    border: 10px solid rgba(0, 0, 0, 0.349);
    
}

nav ul {
    list-style: none;
    padding: 10px;
    margin: 1em 0 0;
    background-color: rgba(0, 0, 0, 0.24);
    font-size: 1.5em;
    font-style: italic;
}

nav ul li {
    display: inline;
    margin: 0 50px;
}

nav ul li a {
    color:black;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #dedfb2;
}

/* ====== Formulário ====== */
main {
    display: flex;
    justify-content: center;
    padding: 40px 10px;
}

form {
    background: #ffffffdc;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
}

fieldset {
    border: 4px solid #020096;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 20px;
}

legend {
    font-weight: bold;
    color: #020069;
    padding: 0 8px;
    font-size: 2.1em;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
select:focus {
    border-color: #0f0096;
    box-shadow: 0 0 5px rgba(0,150,136,0.4);
    outline: none;
}

/* ====== Botão ====== */
button {
    background-color: #009688;
    color: black;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 1.1em;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #00796b;
    transform: scale(1.02);
}

/* ====== Rodapé ====== */
footer {
    background-color: #130069;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 1.0em;
    margin-top: 40px;
}img {
    align-items: center;
    width: 450px;
    border-radius: 30%;
    border:5px solid rgb(0, 128, 107);
}

/* ====== Responsividade ====== */
@media (max-width: 600px) {
    form {
        padding: 20px;
    }
    legend {
        font-size: 1em;
    }
}

.secao2 {
    margin-left: 15px;
}
